
<div class="HomeContainer">
    <img src="assets/images/HomeImg.png"  alt="Home Img" class="HomeImg" style="position: absolute;height: 660px;">
    <div style="width: 50%;margin: 0 auto;" class="card-container">
        <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="assets/images/firstImg4.png" class="img-fluid rounded-start" style="height: 249px;" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body card-body-with-img">
                  <h1 class="card-title">مرحباً بكم  في همزة وصل</h1>
                  <p class="card-text" style="color: #666666;font-size: 15px;">نحن سعداء بانضمامك إلينا في رحلتك التعليمية 
                    همزة وصل هي منصتك للتعلّم، التواصل، والنمو 
                    هنا بنوصلك بالمعرفة، بالفرص، وبأشخاص بيفكروا زيك
                    و سواء كنت طالب، معلم، أو باحث عن تطوير مهاراتك، هتلاقي كل ما تحتاجه في مكان واحد، بتجربة سهلة، ممتعة، وفعالة.
                    ابدأ رحلتك الآن، وخلّي التعليم ليه معني .</p>
                  <!-- <p class="card-text"><small class="text-body-secondary" style="border-bottom: 1px solid #0000;"></small></p> -->
                   <div style="text-align: center ;height: 3px; padding-right: 30%;"><div style="border-bottom: 1px solid #666666;width: 60%;"></div></div>
                </div>
              </div>
            </div>
        </div>
 
    </div>
<div _ngcontent-byc-c21="" style="display: flex;text-align: center;"><div _ngcontent-byc-c21="" class="card cardin text-bg-dark" style="
"><img _ngcontent-byc-c21="" src="assets/images/shroot.png" alt="..." class="card-img" style="
"><div _ngcontent-byc-c21="" class="card-img-overlay" style="
    align-content: center;
"><h1 _ngcontent-byc-c21="" class="card-title">شروط الاستخدام</h1></div></div><div _ngcontent-byc-c21="" class="card cardin text-bg-dark"><img _ngcontent-byc-c21="" src="assets/images/khosos.png" alt="..." class="card-img"><div _ngcontent-byc-c21="" class="card-img-overlay" style="
    align-content: center;
"><h1 _ngcontent-byc-c21="" class="card-title">سياسة الخصوصية</h1></div></div><div _ngcontent-byc-c21="" class="card cardin text-bg-dark"><img _ngcontent-byc-c21="" src="assets/images/dam.png" alt="..." class="card-img"><div _ngcontent-byc-c21="" class="card-img-overlay" style="
    align-content: center;
"><h1 _ngcontent-byc-c21="" class="card-title">الدعم الفني والامان</h1></div></div></div>

<div _ngcontent-byc-c21="" style="margin-top: 10px;padding-top: 10px;text-align: center;background-color: #48D5FF;width: 100%;"><h1 _ngcontent-byc-c21="" class="btn1">شروط الاستخدام حسب الفئة </h1><div _ngcontent-byc-c21="" style="display: flex;justify-content: center;margin-top: 10px;align-items: center;"><div _ngcontent-byc-c21="" style="width: 45%;text-align: start;"><p _ngcontent-byc-c21="" style="font-weight: bold; font-family: Almarai;"> الطالب وولي الأمر :</p><pre _ngcontent-byc-c21="" style="font-family: Almarai;">يُسمح للطالب باستخدام المنصة فقط لأغراض التعليم والمراجعة.
يتحمل ولي الأمر مسؤولية مراقبة استخدام الطالب للمحتوى وضمان الالتزام بالقواعد.
لا يجوز للطالب أو ولي الأمر نسخ أو تحميل أو إعادة نشر أي محتوى على المنصة دون إذن رسمي.
أي سلوك غير لائق أو محاولة اختراق أو تخريب المنصة يؤدي إلى إيقاف الحساب فورًا.
     </pre></div><div _ngcontent-byc-c21="" style="width: 45%;"><img _ngcontent-byc-c21="" alt="" style="width: 100%;" src="assets/images/ser10.png"></div></div><div _ngcontent-byc-c21="" style="display: flex;justify-content: space-around;margin-top: 10px;align-items: center;"><div _ngcontent-byc-c21="" style="width: 45%;"><img _ngcontent-byc-c21="" alt="" style="width: 100%;" src="assets/images/ser2.png"></div><div _ngcontent-byc-c21="" style="width: 45%;text-align: start;"><p _ngcontent-byc-c21="" style="font-weight: bold; font-family: Almarai;"> المعلم :</p><pre _ngcontent-byc-c21="" style="font-family: Almarai;">المعلم مسؤول عن جودة المحتوى التعليمي الذي يقدمه، ويجب أن يكون أصليًا وخاليًا من الانتحال.
لا يجوز استخدام المنصة للترويج لخدمات خارجية أو التواصل مع 
الطلاب خارج القنوات الرسمية.
كل المواد التي يتم تقديمها من خلال المنصة تصبح جزءًا من محتوى المنصة ولا يجوز 
إعادة استخدامها تجاريًا بدون اتفاق.
     </pre></div></div><div _ngcontent-byc-c21="" style="display: flex;justify-content: center;margin-top: 10px;align-items: center;"><div _ngcontent-byc-c21="" style="width: 45%; text-align: start;"><p _ngcontent-byc-c21="" style="font-weight: bold; font-family: Almarai;"> مساعد المعلم :</p><pre _ngcontent-byc-c21="" style="font-family: Almarai;">يجب الالتزام بالتنسيق مع المعلم الرئيسي وعدم تقديم أي محتوى منفصل دون موافقة.
يمنع تقديم الدعم للطلاب خارج المنصة بدون إذن رسمي.
كل مساهمات مساعد المعلم تخضع لمراجعة المنصة، وله حق التعديل وليس التملك. 
</pre></div><div _ngcontent-byc-c21="" style="width: 45%;"><img _ngcontent-byc-c21="" alt="" style="width: 100%;" src="assets/images/ser11.png"></div></div><div _ngcontent-byc-c21="" style="display: flex;justify-content: space-around;margin-top: 10px;align-items: center;"><div _ngcontent-byc-c21="" style="width: 45%;"><img _ngcontent-byc-c21="" alt="" style="width: 100%;" src="assets/images/ser14.png"></div><div _ngcontent-byc-c21="" style="width: 45%; text-align: start;"><p _ngcontent-byc-c21="" style="font-weight: bold; font-family: Almarai;"> الإرشاد التعليمي :</p><pre _ngcontent-byc-c21="" style="font-family: Almarai;">يكون دوره توجيهيًا وتنسيقيًا فقط، وليس تعليميًا مباشرًا.
لا يجوز له التدخل في تقييم الطلاب أو إعطاء دروس خاصة عبر المنصة دون صلاحية.
عليه الحفاظ على سرية بيانات المعلمين والطلاب وعدم استخدامها لأي غرض خارجي. 
</pre></div></div><div _ngcontent-byc-c21="" style="display: flex;justify-content: center;margin-top: 10px;align-items: center;"><div _ngcontent-byc-c21="" style="width: 45%; text-align: start;"><p _ngcontent-byc-c21="" style="font-weight: bold; font-family: Almarai;"> الملكية الفكرية وحقوق النشر :</p><pre _ngcontent-byc-c21="" style="font-family: Almarai;">جميع المحتويات الموجودة على منصة همزة وصل 
(فيديوهات – نصوص – اختبارات – واجهات المستخدم – التصاميم) هي ملك حصري للمنصة.
لا يُسمح بنسخ أو تصوير أو تداول المحتوى خارج المنصة سواء بشكل مجاني أو مدفوع.
تحتفظ المنصة بحقها في اتخاذ الإجراءات القانونية في حالة انتهاك أي من هذه الشروط.
 </pre></div><div _ngcontent-byc-c21="" style="width: 45%;"><img _ngcontent-byc-c21="" alt="" style="width: 100%;" src="assets/images/ser12.png"></div></div><div _ngcontent-byc-c21="" style="display: flex;justify-content: space-around;margin-top: 10px;align-items: center;"><div _ngcontent-byc-c21="" style="width: 45%;"><img _ngcontent-byc-c21="" alt="" style="width: 100%;" src="assets/images/ser13.png"></div><div _ngcontent-byc-c21="" style="width: 45%; text-align: start;"><p _ngcontent-byc-c21="" style="font-weight: bold; font-family: Almarai;"> التعديلات علي الشروط :</p><pre _ngcontent-byc-c21="" style="font-family: Almarai;">تحتفظ منصة همزة وصل بحقها في تحديث شروط الاستخدام في أي وقت،
 وسيتم إعلام المستخدمين بذلك من خلال إشعار داخل المنصة. 
 </pre></div></div><div _ngcontent-byc-c21="" style="background-size: cover; background-image: url('assets/images/siasa.png'); width: 100%;"><div _ngcontent-byc-c21="" style="text-align: center; padding-top: 15px;"><h1 _ngcontent-byc-c21="" class="btn1" style="background-color: #0097FF;">الخدمات الرئيسية</h1><div _ngcontent-byc-c21="" style="margin-top: 10px;"><pre _ngcontent-byc-c21="" style="font-family: Almarai;">سياسة الخصوصية هي الوثيقة التي توضح كيف تقوم منصة همزة وصل بجمع واستخدام وحماية المعلومات الشخصية للمستخدمين. 
نحن ملتزمون بحماية خصوصيتك وضمان استخدام بياناتك بطريقة آمنة ومسؤولة.  </pre></div></div><div _ngcontent-byc-c21="" style="text-align: center; padding-top: 15px; width: 100%;"><h1 _ngcontent-byc-c21="" class="btn1" style="background-color: #FFBC01;">ما هي المعلومات التي نقوم بجمعها؟</h1><div _ngcontent-byc-c21="" style="margin-top: 10px;"><pre _ngcontent-byc-c21="" style="font-family: Almarai;">        
عند استخدامك للمنصة، قد نقوم بجمع بعض المعلومات مثل:
الاسم الكامل
البريد الإلكتروني
رقم الهاتف
الرقم القومي
المرحلة الدراسية أو الأكاديمية
بيانات الاستخدام (مثل الوقت الذي تقضيه على المنصة، المحتوى الذي تتفاعل معه)
الموقع الجغرافي التقريبي (اختياري)
ملحوظة: لا نقوم بجمع أي معلومات بنكية أو حساسة دون إذن واضح وصريح.
  </pre></div></div><div _ngcontent-byc-c21="" style="text-align: center; padding-top: 15px; width: 100%;"><h1 _ngcontent-byc-c21="" class="btn1" style="background-color: #FFBC01;">كيف نستخدم هذه المعلومات؟</h1><div _ngcontent-byc-c21="" style="margin-top: 10px;"><pre _ngcontent-byc-c21="" style="font-family: Almarai;">     
نستخدم بياناتك فقط من أجل:
تخصيص تجربة التعلم وتقديم محتوى مناسب لك
تحسين أداء المنصة وتطوير الخدمات التعليمية
التواصل معك في حالة وجود تحديثات أو مشكلات تقنية
تقديم دعم فني سريع وفعّال عند الحاجة
إرسال تنبيهات أو عروض خاصة (إذا سمحت بذلك)
نحن لا نشارك معلوماتك مع أي جهة خارجية دون إذنك.
  </pre></div></div><div _ngcontent-byc-c21="" style="text-align: center; padding-top: 15px; width: 100%;"><h1 _ngcontent-byc-c21="" class="btn1" style="background-color: #FFBC01;">حقوقك على المنصة </h1><div _ngcontent-byc-c21="" style="margin-top: 10px;"><pre _ngcontent-byc-c21="" style="font-family: Almarai;">         
أنت كمستخدم تمتلك الحقوق التالية:
الاطلاع على البيانات التي نجمعها عنك
طلب تعديل أو تحديث معلوماتك الشخصية
طلب حذف حسابك وبياناتك في أي وقت
التحكم في الإشعارات والمراسلات التي تصلك منا
         </pre></div></div><div _ngcontent-byc-c21="" style="text-align: center; padding-top: 15px; width: 100%;"><h1 _ngcontent-byc-c21="" class="btn1" style="background-color: #FFBC01;"> للتواصل معنا بخصوص الخصوصية </h1><div _ngcontent-byc-c21="" style="margin-top: 10px;"><pre _ngcontent-byc-c21="" style="font-family: Almarai;">  
        
لو عندك أي استفسار بخصوص بياناتك أو حقوقك، يمكنك مراسلتنا على:
privacy@hamzatwasl.com 

</pre></div></div></div><div _ngcontent-byc-c21="" style="background-size: cover; background-image: url('assets/images/aman.png'); width: 100%;"><div _ngcontent-byc-c21="" style="text-align: center; padding-top: 15px;"><h1 _ngcontent-byc-c21="" class="btn1" style="background-color: #0097FF;">الدعم الفني والأمان </h1><div _ngcontent-byc-c21="" style="margin-top: 10px;"><pre _ngcontent-byc-c21="" style="font-family: Almarai;">        الدعم الفني في منصة همزة وصل هو فريق متخصص موجود لمساعدتك في حل أي مشكلة تقنية أو استفسار يواجهك أثناء استخدام المنصة، 
        سواء كنت طالبًا أو معلمًا أو  ولي أمر أو مساعد معلم أو مرشد تعليمي. هدفنا هو ضمان تجربة تعليمية سهلة وآمنة للجميع.
     </pre></div></div><div _ngcontent-byc-c21="" style="text-align: center; padding-top: 15px;"><h1 _ngcontent-byc-c21="" class="btn1" style="background-color: #FFBC01;">كيفية استخدام الدعم الفني </h1><div _ngcontent-byc-c21="" style="margin-top: 10px;"><pre _ngcontent-byc-c21="" style="font-family: Almarai;">        1- من داخل المنصة:
        
 يمكنك الضغط على أيقونة "الدعم" الموجودة في أسفل الشاشة لفتح محادثة مباشرة مع أحد ممثلي فريق الدعم.
2- من خلال البريد الإلكتروني أو الهاتف:

 إذا واجهت أي مشكلة خارج أوقات المنصة، يمكنك التواصل معنا بسهولة عبر وسائل الاتصال التالية (مذكورة بالأسفل).    
 </pre></div></div><div _ngcontent-byc-c21="" style="text-align: center; padding-top: 15px;"><h1 _ngcontent-byc-c21="" class="btn1" style="background-color: #FFBC01;"> أسئلة متكررة حول الأمان والدعم</h1><div _ngcontent-byc-c21="" style="margin-top: 10px;"><pre _ngcontent-byc-c21="" style="font-family: Almarai;">    1- هل بياناتي الشخصية آمنة؟
 نعم، 
    نحن نستخدم بروتوكولات حماية متقدمة لضمان سرية بياناتك وعدم مشاركتها مع أي طرف خارجي.
2- هل المحادثات مع الدعم الفني محفوظة؟
 نعم، 
يتم الاحتفاظ بالمحادثات بهدف تحسين جودة الخدمة وضمان حقوق المستخدم.
3- هل فريق الدعم متوفر طوال الوقت؟
 الدعم متاح يوميًا من الساعة 8 صباحًا حتى 12 مساءً
. خارج هذه الساعات، يمكنك إرسال رسالة وسيتم الرد في أقرب وقت.
4- هل يمكنني الإبلاغ عن محتوى غير لائق؟
 بالتأكيد، يوجد خيار 
"إبلاغ" بجوار أي محتوى أو سلوك غير مناسب، وسيقوم الفريق بمراجعته فورًا.    
    </pre></div></div><div _ngcontent-byc-c21="" style="text-align: center; padding-top: 15px;"><h1 _ngcontent-byc-c21="" class="btn1" style="background-color: #FFBC01;">التواصل مع الدعم الفني </h1><div _ngcontent-byc-c21="" style="margin-top: 10px;"><pre _ngcontent-byc-c21="" style="font-family: Almarai;">        1- رقم الهاتف:
 +20 100 123 4567
2 - البريد الإلكتروني:
support@hamzatwasl.com
3- محادثة مباشرة داخل المنصة
 متاحة من خلال أيقونة "الدردشة" أسفل الشاشة.
  </pre></div></div></div></div>

