<div class="container" style="text-align: center;">
    <img class="signOptionImg" [src]="'assets/images/successNew.png'" alt="">
    <div class="card" style="width: 22rem;background-color: rgba(0, 0, 0, -1);box-shadow: none;position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-35%, -50%);font-family: 'Almarai';">
        <img src="../../../assets/images/successImg.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">تم التسجيل بنجاح</h5>
            <p class="card-text" style="color: #0097FF;">ابدأ رحلتك نحو النجاح والتطور</p>
            <a href="#" class="btn btn-primary lognBtn">العودة للصفحة الرئيسية</a>
        </div>
    </div>
</div>