.profile-image {
  position: relative;
  width: 120px;
  margin: auto;
}

.profile-image > img {
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  border: 5px solid #FFBC01;
}

.profile-image > button {
  position: absolute;
  bottom: 10px;
  right: 0;
}
th{
  border: 1px solid black;
    background-color: #ffc107;
    color: white;
    text-align: center;
    font-family: Almarai;
}
.form-container {
  max-width: 400px;
}

.row {
  display: flex;
  gap: 16px;
}
.dirLTR{
  direction: ltr;
}
.dirRTL{
  direction: rtl;
}
.inputStyleSpan{
  border-radius: 0px 10px 10px 0px;
  /* border: black; */
  border: 1px solid black;
  font-weight: bold;
}
.inputStyle{
  border-radius: 10px 0px 0 10px;
  border: 1px solid black;
}
.marginBottom{
margin-bottom: 5px !important;;
}
table, th, td {
  border:2px solid black;
}
.mat-mini-fab.mat-accent {
  background-color: #FFBC01;
}
table{
  position: relative;
  border: 1px solid black;
}
#motion-effect  tr {
  transition-duration: 0.3s;
}
#motion-effect tr:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
#motion-effect  tr:hover th {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}
.animations-example  td {
  animation: jumping-bars 3s linear infinite;
}
.animations-example tr:nth-of-type(even) td {
  animation-delay: 300ms;
}
@keyframes jumping-bars {
  0% { transform: translateY(   0px ); }
  2% { transform: translateY( -10px ); }
  4% { transform: translateY(   0px ); }
}