.sign-up-link {
    font-size: 1.2rem;
    margin-left: 8px;
}
.inputDiv input{
    border: 1px solid gray;
    border-radius: 10px;
}
.placeholder {
    font-weight: 700;
  background-color: rgba(0, 0, 0, 0);
    font-size: large;
    opacity: 1;
}
.mat-form-field {
    text-align: right;
}
.dirrtl{
    direction: rtl;
}
