.flex-container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px black solid;
    margin: 0 auto;
    flex-wrap: wrap;
    border: none;
}

.flex-item {
    width: 420px !important;
    height: 220px;
    border: 1px black solid;
    margin: 15px;
    border: none;
text-align: center;
background-color: rgba(0,0,0,0);
}
.card-body1 {
    position: absolute;
    left: 11px;
    right: 11px;
    bottom: 0px;
    background-color: #FFBC01;
    height: 50px;
border-radius: 0px 0px 15px 15px;
box-shadow: 1px 1px 15px 0px;
}