.container {
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6px);
  border-radius: 20px;
  padding: 10px 15px;
  width: fit-content;
}

input {
  border: none;
  outline: none;
  padding: 8px 12px;
  border-radius: 20px;
  background: transparent;
  color: #000;
  width: 200px;
}
.flex-container1 {
    display: flex;
    flex-direction: row;
    border: 1px black solid;
    margin: 0 auto;
    flex-wrap: wrap;
    border: none;
    padding-right: 20px;
}

.flex-item {
    width: 149px !important;
    height: 149px;
text-align: center;
border: none;
border-radius: 15px;
margin: 10px;
}
.card-body1 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
    background-color: #0097FF;
    height: 50px;
border-radius: 0px 0px 15px 15px;
}

button.mat-icon-button {
  background-color: #00aaff;
  color: white;
  border-radius: 50%;
  transition: background-color 0.3s;
}

button.mat-icon-button:hover {
  background-color: #0077cc;
}