<div style="text-align: center;background-color: #FFBC01;width: 100%;">
    <h1>الخدمات الرئيسية</h1>
    <div style="margin-top: 10px;">
        <p style="font-weight: bold;
    font-family: 'Almarai';">منصة همزة وصل هي بيئة تعليمية شاملة تقدم مجموعة من الخدمات الرقمية التي تتيح تجربة تعليمية متكاملة، تفاعلية وآمنة، من خلال:</p>
        <pre style="font-family: 'Almarai';">
1- دروس مباشرة وتسجيلات بجودة عالية.
2- اختبارات وتقييمات تفاعلية لمتابعة تقدم الطالب.
3- تواصل مباشر بين الطالب والمعلم داخل المنصة.
4- إشعارات وجدولة دروس مع إمكانية التذكير التلقائي.
5- لوحات تحكم مخصصة لكل فئة مستخدم (طالب، معلم، مساعد معلم ، إرشاد تعليمي).
6- دعم فني مباشر على مدار اليوم.
7- نظام أمان ومراقبة للأنشطة يضمن بيئة تعليمية صحية وآمنة.</pre>
    </div>
    <div style="display: flex;justify-content: center;" >
        <div style="width: 45%;text-align: start;">
            <p style="font-weight: bold;
    font-family: 'Almarai';">خدمات الطلاب :</p>
     <pre style="font-family: 'Almarai';">حضور الدروس المباشرة ومتابعة التسجيلات.
حل الواجبات والاختبارات من داخل المنصة.
الوصول إلى المحتوى التعليمي المنظّم حسب المنهج الدراسي.
التفاعل مع المعلم من خلال التعليقات أو المحادثة الآمنة.
استلام تقارير الأداء وتقييمات دورية.
جدولة وتنظيم المذاكرة من خلال المتابعة المستمرة .
استقبال تنبيهات وملاحظات من المعلم أو المساعد.</pre>
        </div>
        <div style="width: 45%;">
              <img style="width: 100%;"  [src]="'assets/images/ser1.png'" alt="">
        </div>
    </div>
    <div style="display: flex;justify-content:space-around;" >
         <div style="width: 45%;">
              <img style="width: 100%;"  [src]="'assets/images/ser2.png'" alt="">
        </div>
        <div style="width: 45%;text-align: start;">
            <p style="font-weight: bold;
    font-family: 'Almarai';"> خدمات المعلم :</p>
     <pre style="font-family: 'Almarai';">
        إنشاء دروس مباشرة أو مسجلة.
رفع المحتوى التعليمي بصيغ متعددة (PDF – فيديو – صور – روابط).
إعداد اختبارات وواجبات وتصحيحها إلكترونيًا.
تتبع أداء الطلاب من خلال تقارير وتحليلات.
التواصل مع الطلاب داخل المنصة فقط.
التعاون مع مساعد المعلم أو المرشد لضمان تجربة تعليمية متكاملة.
التحكم في حضور الطلاب وتنظيم الجدول الزمني.
     </pre>
        </div>     
    </div>
     <div style="display: flex;justify-content: center;" >
        <div style="width: 45%;text-align: start;">
            <p style="font-weight: bold;
    font-family: 'Almarai';">خدمات مساعد المعلم :</p>
     <pre style="font-family: 'Almarai';">
        متابعة تنفيذ الأنشطة التعليمية والواجبات.
تقديم دعم إضافي للطلاب في حالة الحاجة.
تنظيم الملفات والمحتوى بالتنسيق مع المعلم.
رفع ملاحظات دورية عن الطلاب للمعلم أو المرشد.
التأكد من التفاعل والانضباط داخل الحصص.
مساعدة في إدارة الأسئلة والإجابات أثناء البث المباشر.
     </pre>
        </div>
        <div style="width: 45%;">
              <img style="width: 100%;"  [src]="'assets/images/ser3.png'" alt="">
        </div>
    </div>
    <div style="display: flex;justify-content:space-around;" >
         <div style="width: 45%;">
              <img style="width: 100%;"  [src]="'assets/images/ser5.png'" alt="">
        </div>
        <div style="width: 45%;text-align: start;">
            <p style="font-weight: bold;
    font-family: 'Almarai';">خدمات الإرشاد التعليمي :</p>
     <pre style="font-family: 'Almarai';">
        متابعة الحالة التعليمية والسلوكية للطالب.
تقديم تقارير تربوية للمعلم وولي الأمر.
اقتراح حلول عند وجود تراجع في المستوى.
التواصل مع المعلمين لتنسيق الدعم الفردي.
تقديم نصائح للطلاب لتحسين مهارات المذاكرة والتنظيم.
دعم نفسي وتربوي حسب الحاجة.
     </pre>
        </div>     
    </div>
</div>